* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}

/* common class */

@media (min-width:1199px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}





.cmn-sec-gap{
  padding: 50px 0px;
}


.head_section{
  background-color: antiquewhite;
  width: 100%;
  min-height: 90px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
}

.links li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
  margin: 8px;
  font-size: 20px;
}

/* banner section */

.banner_section {
  width: 100%;
  min-height: 450px;
  padding: 20px;
  /* margin-left: 38px;
  margin-right: 38px; */
  background-image: url("../images/banner_image.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner_text {
  color: aliceblue;
  font-size: 60px;
  max-width: 419px;
  /* margin: 0 auto; */
  text-align: center;
}


.card-sec{
  min-height: 465px;
}

.col {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin-top: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  max-width: 300px;
  margin: auto;
  text-align: center;
  background-color: honeydew;
}

.title {
  color: gray;
  font-size: 18px;
}

.card img {
  height: 150px;
  width: 150px;
  width: 100%;
  object-fit: cover;
}

.profile {
  margin: 24px 0;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: aliceblue;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover,
a:hover {
  opacity: 0.7;
}

.footer {
  min-height: 400px;
  padding: 50px;
  color: #fff;
  background-color: darkblue;
}

.footer-main{
  display: flex;
  flex-wrap: wrap;
}

.footer_section {
  flex: 1;
  margin: 20px;
}

.logo_section {
  flex: 2;
}

.logo img {
  width: 100px;
  height: auto;
}

.footer_section span {
  font-size: 1.2em;
  
}

.footer_section p {
  font-size: 0.9em;
  color: #999;
}

.footer_section ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
  
}

.footer_section li {
  margin-bottom: 10px;
}

.footer_section a {
  color: #999;
  text-decoration: none;
  margin-left: 0px!important;
}

.b-footer {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  border-top: 1px solid #999;
}

.b-footer a{
  color: #999;
  text-decoration: none;

}